@import "config";

body {
  font-family: "Kumbh Sans", sans-serif;
  font-family: "PT Sans", sans-serif;
}

.attribution {
  font-size: 15px;
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}
